pipeline/01_Set_variable_Demo.json
{
	"name": "01_Set_variable_Demo",
	"properties": {
		"activities": [
			{
				"name": "Set length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "10"
				}
			},
			{
				"name": "Set width",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": "30"
				}
			},
			{
				"name": "Set area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set width",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@{mul(int(variables('length')),int(variables('breadth')))}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String"
			},
			"breadth": {
				"type": "String"
			},
			"area": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipeline Activities/Data Movement Activities/Set variable"
		},
		"annotations": []
	}
}